/* Username input styling */
div.enterUsername {
  position: absolute;
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  top: 50%;
  left: 25%;
}

/* Tooltip */
.tooltiptext {
  visibility: hidden;
  width: 100px;
  font-size: 13px;
  background-color: darkkhaki;
  color: #fff; 
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 10%;
  top: -20%;
}

div.enterUsername label.usernameLabel{
  border-bottom: 2px dotted black;
  padding: 5px;
}

div.enterUsername input.usernameInput {
  background-color: #fff;
  padding: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
label.usernameLabel:hover .tooltiptext, label.emailLabel:hover .tooltiptext {
  visibility: visible;
}



/* Email input styling */
div.enterEmail {
  position: absolute;
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  top: 70%;
  left: 25%;
}

div.enterEmail label.emailLabel {
  border-bottom: 2px dotted black;
  padding: 5px;
}

div.enterEmail input.emailInput {
  background-color: #fff;
  padding: 5px;
}


/* Submit button */
input.submit{
  position: absolute;
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  top: 90%;
  left: 25%;
  font-size: 20px;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

p.flashedMessage{
  background-color: crimson;
  color: bisque;
}


