/* I an still arranging things... the different color backgrounds are so I can see the different divs. */
body {
    background: lightblue;
    margin: 25px;
}

div.Steps {
    height: 150px;
    width: 75%;
    float: left;
    background-color: antiquewhite;  
}

.button {
    height: 150px;
    width: 25%;
    float: right;
    background-color: green;
}

div.About {
    float: left;
    background-color: azure;
    height: 100px;
    width: 33%;
}

h1 {
    font-size: 80px;
    text-align: center;
}

div.LB {
    float: right;
    background-color: cadetblue;
}

div.Full_LB {
    float: right;
    background-color: bisque;
}

div.Stay_Connected {
    float: left;
    background-color: blue;
}