<!DOCTYPE html>
<html>

<head>
  <script>
		window.onerror=function(msg){
      alert(msg);
    }
	</script>
	
  <title>VoteReach: Confirm Email</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
 	<a href="/linker">To Linker</a>

  <!--This prints any messages alerts from the server-->
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr>
	<p>Thanks for joining us, {{username}}!</p>
	<p>Go check your email to get our link!</p>
	<a href="/">To Main</a>
</body>

</html>