<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>VoteReach</title>
</head>

<body>
	<a href="/linker"><button>To Entry Point</button></a>

        <h1>Vote Reach</h1>
    
            <hr>
    
        <div class="Steps">
         <h3>What to do</h3>
            <ol>
                <li> Item 1</li>
                <li> Item 2</li>
                <li> Item 3</li>
            </ol>
        </div>
   
        <div class="Button">    
         <button type="button" onclick="window.location.href ='/signup';">Get link </button>
        </div>
     
        <div class="About">
        <h3>About us</h3>
        </div>
        
        <div class="LB">
        <h3>Leader Board</h3>
        </div>
        
        <div class="Full_LB">
        <h3>FULL LEADER BOARD</h3>
        </div>
        
        <div class="Stay_Connected">
        <h3>Stay Connected</h3>
        </div>

  </body>
</html>