<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />  
	<script>
		window.onerror=function(msg){
      alert(msg);
    }
	</script>

	<title>VoteReach: Leaderboard</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  	<link rel="stylesheet" type="text/css" href="/static/leaderboard_style.css"></link>
</head>

<body>
	<!--This prints any messages alerts from the server-->
		{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
		<li>{{message}}</li>
		{% endfor %} {% endif %} {% endwith %}
	</ul>
	<a href="/linker"><button>Back To Entry Point</button></a>
  <hr>
  <div class="header">          
    <h1 onclick="window.location.href ='/';"><u>Vote Reach</u></h1>
    <h2>Leaderboard</h2>
  </div>

  <hr>
  <h4>Top #1: {{data[0].username}} at {{data[0].clicks}} clicks!</h4>
	<hr>
  <div class="fullLB">
	<table style="width: 100%">
    <tr>
      <th>Username</th>
      <th>Clicks<th>
    </tr>

	  <!--This loops through the data supplied by the server and creates a new element for each one-->
    {% for info in data %}
		<tr>
      <td>{{info.username}}</td>
      <td>{{info.clicks}}</td>
    </tr>
		{% endfor %}
    
	</table>
  </div>
  
      
  </body>
</html>