<!DOCTYPE html>
<html>

<head>
  <script>
		window.onerror=function(msg){
      alert(msg);
    }
	</script>

	<title>VoteReach</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <!--This prints any messages alerts from the server-->
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

	<h3>This page connects our pages for easy access. Click the buttons below to view a page.</h3>
	<a href="/"><button>To Main Page</button></a>
  <a href="/signup/enter"><button>To Sign Up</button></a>
  <a href="/leaderboard"><button>To Leaderboard</button></a>
  <a href="/test_bed"><button>Hazard Zone (NO RETURN!)</button></a>

</body>
</html>