<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Sign Up</title>
  </head>
  <body>
    <a href="/linker">Back To linker</a>
    <h1><u>Sign up to get a link!</u></h1>
    <form action="/signup/confirm" method="POST">
      <label for="username">Username: </label>
      <input name="username" type="text"></input></p>
      <input type="submit" value="Get Link"></input>
    </form>
    <script src="static/cookie.js"></script>
  </body>
</html>