<!DOCTYPE html>
<html>

<head>
  <script>
		window.onerror=function(msg){
      alert(msg);
    }
	</script>

	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/sign_up_style.css">
	<title>VoteReach: Sign Up</title>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>	
  <script>
		function readTextFile(file)
    {
      var text="";
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function ()
      {
        if(rawFile.readyState === 4)
        {
          if(rawFile.status === 200 || rawFile.status == 0)
          {
            var allText = rawFile.responseText;
            alert(allText);
            text=allText;
          }
        }
      }
      rawFile.send(null);
      return allText;
    }
		
    function validateForm()  {
      alert(readTextFile("/userdata.txt"));
    }
	</script>


</head>

<body>
	<!--This prints any messages alerts from the server-->
	{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
	<p>{{message}}</p>
	{% endfor %} {% endif %} {% endwith %}

	<a href="/linker">Back To linker</a>

	<div style="text-align:center;">

		<h3><u>Sign up to get a link!</u></h3>
		<form name="sign_up" action="/signup/confirm" onsubmit="return validateForm()" method="POST">
			<div class="tooltip">
				<label for="username">Username: </label>
        <input name="username" type="text" required>
        <span class="tooltiptext">This the username for your public profile.</span>
		  </div>
      
      <div>
        <label for="email">Email: </label>
        <input name="email" type="email" required>
      </div>
      
      <input type="submit" value="Get Link">
    </form>
  </div>
  </body>
</html>