<!DOCTYPE html>
<html>

<head>
  <script>
		window.onerror=function(msg){
      alert(msg);
    }
	</script>

	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/sign_up_style.css">
	<title>VoteReach: Sign Up</title>

</head>

<body>

	<a href="/linker">Back To linker</a>
  <hr>  
  <div class="header">          
    <h1 onclick="window.location.href ='/';"><u>Vote Reach</u></h1>
		<h2>Sign up to get a link!</h2>
  </div>

  <div>
	  <!--This prints any messages alerts from the server-->
	  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
	  <p>{{message}}</p>
	  {% endfor %} {% endif %} {% endwith %}
  </div>
	
  <div style="text-align:center;">

    <div>

      <form name="sign_up" action="/signup/confirm" method="POST">

        <div class="enterUsername">
				  <label class="usernameLabel" for="username">
            Enter Username:
            <span class="tooltiptext">This the username for your public profile.</span>
          </label>
          <input class="usernameInput" name="username" type="text" required>
		    </div>

        <div class="enterEmail">
          <label class="emailLabel" for="email" >
            Enter Email:
            <span class="tooltiptext">This is used to send the link: we promise not to save or give it out to the public</span>
          </label>
          <input class="emailInput" name="email" type="email" required>
        </div>

        <div>
          <input class="submit" type="submit" value="Get Link">
        </div>
      </form>
    </div>
	
  </div>
  
  </body>
</html>